.hero {

  &-home {
  	background-color: #004e65;
  	>.container {
	  	background-image: url('../../images/backgrounds/banner-wave.png');
  		background-position: left top;
  		background-repeat: no-repeat;
  	}
  }

  &-title {
    &-wrap {
      .col-lg-4 {
        @include media('>=desktop') {
          padding-left: 0;
        }
      }
    }

  	color: $light-blue;
  	font-family: $headings-font;
  	font-size: 100px;
  	font-weight: 700;
  	line-height: 100px;
  	text-transform: uppercase;

  	&-top {
  		font-size: 22px;
  		letter-spacing: -0.22px;
  		color: $grey;
  		margin-top: 50px;
  		margin-bottom: 20px;
  	}

    &-bottom {
      font-family: $third-font-solid;
      font-size: 150px;
      color: $blue;
      line-height: 1;
      margin-top: -50px;
      margin-left: 92px;
    }
  }

  .btn {
  	margin: 58px 0 135px;
  }

  &-services {
  	background-image: url('../../images/backgrounds/banner-services-bg.png');
  	background-position: left -12px top;
  	background-repeat: no-repeat;
  	padding: 40px 0;

  	&-title {
  		font-size: 28px;
  		font-family: $headings-font;
  		text-transform: uppercase;
  		line-height: 1;
  		display: flex;
  		align-items: end;
  		margin-bottom: 20px;
      height: 62px;
      background-position: right 50px bottom;
      background-repeat: no-repeat;

  		img {
  			margin-left: 15px;
  		}

      span {
        display: block;
        padding-bottom: 0;
        transition: padding 0.15s ease-out;
      }

      &:hover {
        span {
          padding-bottom: 23px;
        }
      }
  	}

  	.col  {
  		border-right: 1px solid rgba(255,255,255,.35);
      padding-right: 14px;
      margin-right: 20px;
  		
  		&:last-of-type {
  			border:none;
  		}
  	}

  	&-1 {
  		color: $light-blue;
      background-image: url("../../images/arrows/arrow-right.svg");
  	}

  	&-2 {
  		color: $orange;
      background-image: url("../../images/arrows/arrow-orange.svg");

  		&:hover{
  			color: $orange;
  		}
  	}

  	&-3 {
  		color: $green;
      background-image: url("../../images/arrows/arrow-green.svg");
      background-position: right 75px bottom;

  		&:hover {
  			color: $green;
  		}
  	}

  	p {
  		color: $white;
  		font-size: 17px;
  		line-height: 22px;
      margin-bottom: 0;
  	}

  }

  &-subtitle {
  	font-size: 50px;
  	font-weight: 700;
  	color: $white;
  	font-family: $second-font;
  	line-height: 24px;
  	text-transform: uppercase;
  }

  &-internal {
  	padding: 104px 0;

  	h1 {
  		font-family: $third-font-solid;
  		font-size: 150px;
  		text-transform: lowercase;
  		color: #81F5FF;
  		margin-bottom: 50px;
  		z-index: 2;
  		position: relative;
  	}
  }

  .page-template-about-us & {
  	background-image: url('../../images/backgrounds/about-ironstride-marketing-banner.jpg');
  }

  .page-template-services & {
    background-image: url('../../images/backgrounds/ironstride-marketing-services-banner.jpg');

    h1 {
      color: #FFC453;
    }
  }
  
  .page-template-practice-area & {
    background-image: url('../../images/backgrounds/ironstride-marketing-services-banner.jpg');
  }  
}