.sidebar {

  .blog-filter {
    .filter-name {
      font-family: $second-font;
      font-size: 22px;
      font-weight: 700;
      text-align: left;
      color: $darker-green;
      margin-bottom: 30px;
      text-transform: uppercase;
    }

    .cat-list {
      li {
        margin-bottom: 30px;

        input {
          margin-right: 20px;
          width: 20px;
          height: 20px;
          border: solid 1px #aaadae;
        }

        label {
          font-family: $default-font;
          font-size: 22px;
          line-height: 1;
          color: $black;
          vertical-align: top;

          @include media('>=widescreen','<1440px') {
           font-size: 20px; 
          }
        }
      }
    }
  }

  &-widgets {
    max-width: 450px;

    @include media('<desktop') {
      margin: 0 auto;
      padding-top: 35px;
    }

    .sidebar-item {
      margin-bottom: 60px;

      .sidebar-holder {
        background-color: #f4f4f4;
        padding: 47px 30px 45px;

        ul.list {
          margin-top: 15px;

          li {
            position: relative;
            list-style: none;
            border-top: 1px solid #d8d9d9;
            text-align: left;

            &:last-of-type {
              border-bottom: 1px solid #d8d9d9;
            }

            a {
              color: #1b496c;
              font-size: 16px;
              font-weight: 400;
              line-height: normal;
              display: block;
              position: relative;
              padding: 17px 10px 17px 10px;

              &:hover {
                color: $light-blue;
              }

              &:before {
                position: absolute;
                top: 50%;
                right: 5px;
                margin-top: -10px;
                background-color: transparent;
                content: '';
                display: inline-block;
                background: url("../../images/icon-arrow-right.svg") no-repeat scroll center center transparent;
                width: 13px;
                height: 20px;
                background-size: 13px 20px;
              }

            }

          }

        }

        .btn-std {

          @include media('<large') {
            max-width: 371px;
            width: 100%;
            margin: 0 auto;
            padding-left: 0;
            padding-right: 0;
          }

        }

      }

      .cta-holder {
        background-color: $navy;
        border: 1px solid $border-color;
        padding: 50px 0 50px;
        text-align: center;

        .inner-holder {
          margin: 0 auto;
          text-align: center;
          padding: 0 38px;

          @include media('<large') {
            padding: 0 25px;
          }

          .sidebar-title {
            color: #ffffff;
            font-size: 21px;
            font-weight: 700;
            letter-spacing: 1.91px;
            line-height: 24px;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 14px;
            padding: 0;

            @include media('<large') {
              font-size: 19px;
              margin-bottom: 4px;
            }

          }

          a.phone {
            text-transform: uppercase;
            letter-spacing: 0.64px;
            display: inline-block;
            margin-top: 2px;
            margin-bottom: 18px;
            color: #ffffff;
            font-size: 48px;
            font-weight: 700;
            line-height: 58px;
            text-align: center;

            @include media('<large') {
              font-size: 41px;
            }

          }

        }


      }

      .contact-form-holder {
        background-color: $light-grey;
        border: 1px solid $border-color;
        padding: 15px 15px 25px;
        max-width: 450px;
        margin: 0 auto;

        .sidebar-title {
          text-align: center;
        }

        .form-wrap {

          .input-text {
            border: 1px solid $border-color;
            padding: 15px 12px;
            width: 100%;
            margin-bottom: 15px;
            line-height: normal;
            font-size: 15px;
          }

          .textarea {
            border: 1px solid $border-color;
            padding: 15px 12px;
            min-height: 100px;
            width: 100%;
            resize: none;
            margin-bottom: 15px;
            line-height: normal;
            font-size: 15px;
          }

          .btn-std {
            width: 100%;
            display: inline-block;
            text-align: center;
          }

        }

        .required {
          position: relative;

          &:after {
            content: "Required";
            text-transform: uppercase;
            display: block;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            margin-top: -7px;
            z-index: 3;
            color: $text;
            font-size: 14px;
            font-weight: 400;
            opacity: 0.7;
          }

        }


      }

      .team-holder {
        background-color: $light-grey;
        border: 1px solid $border-color;
        padding: 40px 50px 0;
        max-width: 450px;

        .sidebar-title {
          color: #000000;
          font-size: 25px;
          font-weight: 400;
          line-height: 41px;
          text-transform: uppercase;
          letter-spacing: 0.5px;
          text-align: center;
        }

        .grid-team {
          margin-top: 35px;

          .item {
            @include imagegrid(2, 25%);
            margin-bottom: 39px !important;

            p {
              color: #000000;
              font-size: 18px;
              font-weight: 600;
              line-height: 26px;
              letter-spacing: 0.36px;
              text-align: center;
              padding-top: 7px;
              @extend %transition;
            }

            &:hover {

              p {
                color: $blue;
              }

            }

          }

        }

      }

      .popular-post-holder {
        background-color: $light-grey;
        max-width: 450px;

        .sidebar-title {
          background: $text;
          color: $white;
          padding: 12px 20px;
        }

        .inner-holder {
          padding: 0 20px 25px;

          .post-wrap {
            padding-bottom: 15px;

            h4 {
              font-size: 24px;
              font-family: $headings-font;
              font-weight: 700;
              padding-bottom: 4px;

              a {
                color: $text;
              }

            }

            .post-meta {
              padding-bottom: 15px;
              font-size: 14px;

              > span {
                float: left;
              }

              .separator {
                display: inline-block;
                margin: 0 10px;
              }

              .post-categories {
                float: left;
              }

              @extend %clearfix;

            }

            .image-holder {
              max-width: 95px;
              float: left;
              margin-right: 15px;

              img {
                height: auto;
              }

            }

          }

          .btn {
            float: right;
          }

          @extend %clearfix;

        }

      }

      .search-holder {

        .search-form {
          border-radius: 0;
          overflow: hidden;

          .input-std {
            height: 50px;
            border: 1px solid #d8d9d9;
            background-color: #ffffff;
            width: calc(100% - 60px);
            float: left;
            color: #000000;
            font-family: $default-font;
            font-size: 16px;
            font-weight: 400;
            line-height: 58px;
            padding: 0 20px;
            border: 1px solid #d8d9d9;

            @include media('<tablet') {
              font-size: 18px;
            }

            @include placeholder {
              color: $text;
              opacity: 1;
            }

          }

          .submit {
            float: left;
            width: 57px;
            height: 50px;
            border: none;
            background: $black;
            color: $white;
            font-family: $default-font;
            font-size: 21px;
            font-weight: 600;
            line-height: 50px;
            text-align: center;
            transition: all 0.2s linear;
            cursor: pointer;

            &:hover {
              color: $white;
              background: lighten($black, 10%);
            }

          }

          @extend %clearfix;

        }

      }

      .testimonial-holder {
        padding: 70px 30px 57px;
        background: url("../../images/bg-testimonial-holder.svg") no-repeat scroll center top #052a46;
        background-size: 260px 165px;

        @include media('<tablet') {
          padding: 70px 20px 57px;
        }

        .sidebar-title {
          color: $white;
          text-align: center;
        }

        .inner-holder {
          max-width: 345px;
          margin: 0 auto;

          blockquote {
            text-align: center;

            q {
              color: white;
              font-size: 18px;
              line-height: 33px;
              font-style: italic;
            }

            cite {
              padding-top: 15px;
              color: $white;
              font-style: italic;
              font-family: $headings-font;
              font-size: 18px;
              display: block;
              letter-spacing: 2.25px;
            }

          }

        }

        > p {
          text-align: center;

          .btn-more {
            color: #78c1f8;
            font-size: 16px;
            font-weight: 600;
            background: url("../../images/icon-arrow-testimonial.svg") no-repeat scroll right center transparent;
            background-size: 18px 8px;
            display: inline-block;
            padding-right: 25px;
            margin-top: 35px;

            &:hover {
              color: $white;
            }

          }

        }


      }

      .credentials-holder {

        .card {

          .card-header {
            padding: 0;
            margin-bottom: 0;
            background-color: rgba(0, 0, 0, 0.03);
            border-bottom: 1px solid rgba(0, 0, 0, 0.125);

            .btn {
              padding: 0.75rem 1.25rem;
              background: none;
              width: 100%;
              text-align: left;
            }

          }

          .card-body {
            padding: 1.25rem;
            padding-left: 10px;
          }

        }

      }

      &:empty {
        display: none !important;
      }

    }

  }

  /*
    contact sidebar
  */

  &-widget {
    background-color: $sidebar-bg;
    padding: 30px;
    margin-bottom: 30px;

    @media screen and (max-width: 991px) {

      .page-template-contact & {
        margin-bottom: 30px;
      }

    }

    @media screen and (min-width: 992px) {
      margin-bottom: 60px;

      .page-template-contact & {
        margin-bottom: 0;
      }

    }

    &:empty {
      display: none;
    }

    &__alt {
      background-color: $sidebar-bg-alt;
      color: $white;

      .sidebar-title, .sidebar-subtitle {
        color: $sidebar-alt-title;
      }

    }

  }

          .sidebar-title {

        }

  &-title {
    font-family: $headings-font;
    text-align: center;
    margin-bottom: 25px;
    color: $sidebar-alt-border2;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 1.91px;
    text-transform: uppercase;

    &__alt {
      color: $sidebar-title;
      font-size: 30px;
      line-height: 24px;
      text-align: center;
      margin-bottom: 20px;
      padding-bottom: 15px;
      font-weight: 400;

      @media screen and (min-width: 992px) and (max-width: 1199px) {
        font-size: 24px;
      }

    }

  }

  &-subtitle {
    color: $sidebar-title;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 1.91px;
    line-height: 24px;
    text-transform: uppercase;
  }

  &-locations {
    font-size: 19px;
    line-height: 1.7;

    @media screen and (max-width: 991px) {
      text-align: center;
    }

    strong {
      color: $black;
      font-size: 20px;
      line-height: 26px;
    }

    span {

      strong {
        font-weight: 600;
        color: $text;
      }

    }

    a {
      color: $location-link;
      display: block;
      font-size: 16px;
      background-repeat: no-repeat;
      background-position: left 4px;

      @media screen and (max-width: 991px) {
        display: inline-block;
      }
    }

    address {
      margin-bottom: 40px;
    }

  }

  &-team {
    font-size: 24px;
    color: $attorney-name;
    font-weight: 700;
    font-family: $second-font;

    .page-template-location & {
      background-color: #e4e4e4;
    }
    img {
      margin: 22px 0;
    }

    span {
      text-transform: uppercase;
      color: $text;
      font-size: 18px;
      font-weight: 400;
    }

    p {
      line-height: 1;
    }

    .arrow-link {
      margin-top: 27px;
      display: inline-block;
    }
  }

  &-expect {
    text-align: center;
    height: 100%;

    &-sect {
      border-bottom: 1px solid $sidebar-alt-border;
      padding-bottom: 20px;

      @media screen and (min-width: 1200px) {
        padding-bottom: 42px;
      }

      svg {
        display: block;
        margin: 22px auto 12px;

        @media screen and (min-width: 1200px) {
          margin: 45px auto 12px;
        }
      }
    }

    & > .sidebar-subtitle {
      padding-top: 28px;
      margin-bottom: 18px;

      @media screen and (min-width: 1200px) {
        padding-top: 42px;
      }

    }
  }

  &-related {

    a {
      color: #f4f6f7;
      display: block;
      padding: 10px 8px;
    }

  }

  .image-holder {
    margin-bottom: 60px;

    @include media('<desktop') {
      margin: 0 auto 25px;
      text-align: center;
    }

  }

  &-results {
    background: $white;
    border: 3px solid #ebeeea;
  }

}