.awards-part {
  padding: 70px 0 80px;

  .section-title {
    color: #787878;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 40px;
  }

  .item.slide {
    display: flex !important;
    justify-content: center;
    align-items: center;


    .img-holder {
      margin: 0 auto;
      padding: 0 15px;

      a {

        img {
          display: block;
          width: auto;
        }

      }

    }

  }

  .slick-list {

    @include media('<1440px') {
      margin-left: 30px;
      margin-right: 30px;
    }

  }

}

.custom-nav-awards,
.custom-nav-test,
.custom-nav-results {
  width: 100%;
  clear: both;
  position: absolute;
  z-index: 11;
  top: 3%;

  @media screen and (min-width: 992px) {
    top: 27%;
  }

  button {
    border: 0;
    box-shadow: none;
    background: none;
    cursor: pointer;
    width: 35px;
    height: 64px;
    display: block;
    margin: 0;
    padding: 0;
    margin-top: -32px;
    font-size: 0;

    &.slick-prev {
      position: absolute;
      left: -15px;
      @include media('<1400px') {
        left: 15px;
      }
      background: url("../../images/icon-awards-left.svg") no-repeat scroll center center transparent;
      background-size: 35px 64px;
    }

    &.slick-next {
      position: absolute;
      right: -15px;
      @include media('<1400px') {
        right: 15px;
      }
      background: url("../../images/icon-awards-right.svg") no-repeat scroll center center transparent;
      background-size: 35px 64px;
    }

  }

}

.custom-nav-awards {
  top: 70%;
}

.custom-nav-test {
  button {
    &.slick-prev {
      left: 0;

      @media screen and (min-width: 992px) {
        left: -50px;
      }
    }

    &.slick-next {
      right: 0;
    }

    @media screen and (min-width: 992px) {
      right: -50px;
    }

  }
}