.videos-part {

  .grid-videos {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 47px;

    @include media('<tablet') {
      max-width: 477px;
      margin-left: auto;
      margin-right: auto;
    }

    .item {
      @include imagegrid(4, 2%);

      @include media('<desktop') {
        @include imagegrid(2, 5%);
      }

      a {

        .img-wrap {
          position: relative;

          .icon-play {
            display: block;
            width: 63px;
            height: 62px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -31px;
            margin-top: -31px;
            z-index: 4;
          }

          &:after {
            background-image: linear-gradient(180deg, rgba(146, 146, 146, 0) 0%, #012840 100%);
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 3;
            content: '';
            display: block;
            top: 0;
            left: 0;
          }

        }

        .video-description {
          border-top: 5px solid #eb5b13;
          background: #1b496c;
          color: #ffffff;
          font-size: 20px;
          font-weight: 400;
          line-height: 24px;
          text-align: center;
          padding: 18px 10px;
          display: flex;
          justify-content: center;
          align-items: center;

          @include media('<widescreen') {
            padding: 10px 10px;
            font-size: 18px;
            line-height: 21px;
          }

          @include media('<desktop') {
            padding: 18px 10px;
            font-size: 20px;
            line-height: 24px;
          }

        }

        &:hover {

          .icon-play-st0 {
            stroke: $orange;
          }

          .icon-play-st1 {
            fill: $orange;
          }

        }

      }

      .cw_video_open_popup_customized {
        margin-bottom: 0;
        display: inline-block;
      }

    }

  }

  @include media('<tablet') {

    ul.slick-dots {
      padding-top: 14px;
      text-align: center;
      width: 100%;

      li {
        display: inline-block;
        padding: 0;
        margin: 0;
        margin-right: 15px;

        button {
          border: 0;
          border-radius: 50%;
          display: inline-block;
          text-indent: -9999px;
          cursor: pointer;
          width: 12px;
          height: 12px;
          line-height: 12px;
          background-color: #366797;
          padding: 0;
          margin: 0;
        }

        &.slick-active {

          button {
            background-color: $orange;
          }

        }

      }

    }

  }

}