.main-wrapper {
  overflow: hidden;
}

.main-content {
  padding: 40px 0;

  @media screen and (min-width: 768px) {
    padding-top: 70px;
    padding-bottom: 50px;
  }

  .page-template-portfolio & {
    background-color: #f5f6fa;
  } 
}

[v-cloak] > * {
  display: none;
}

.bubble-block {
  align-items: center;

  h2 {
    strong {
      display: block;
    }
  }

  .arrow-link:hover {
    padding-right: 48px;
  }
}

.arrow-link {
  color: $light-blue;
  font-family: $headings-font;
  font-size: 13px;
  font-weight: 400;
  background-image: url('../../images/arrows/arrow-right.svg');
  background-repeat: no-repeat;
  background-size: 17px 17px;
  padding-right: 33px;
  background-position: right center;
  display: inline-block;
  transition: padding 0.15s ease-out;

  span {
    text-decoration: underline;
    text-transform: uppercase;
  }

  &.green {
    background-image: url('../../images/arrows/arrow-green.svg');
    color: $green;
  }

  &__alt {
    color: $white;
  background-image: url('../../images/arrows/arrow-alt-right.svg');
  }
}

// Negative margin top
.cta-neg {

  @media screen and (min-width: 768px) {
    margin-top: -185px;
  }
}

// Grey Background
.alt-grey {
  background-color: $alt-grey;
}

// Bubble 
.cta-bubble {
  padding-top: 30px;
  text-align: center;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    text-align: left;
    margin-bottom: 0;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 30px;
    padding-right: 40px;
    background-image: url("../../images/backgrounds/bubble-bg.png");
    background-position: top center;
    background-size: 100%;
    height: 167px;
    background-repeat: no-repeat;
  }

  @media screen and (min-width: 992px) {
    height: 200px;
  }

  @media screen and (min-width: 1200px) {
    height: 300px;
    padding-left: 94px;
    padding-right: 117px;
  }
  
  &-content {
    font-family: $default-font;
    font-size: 22px;
    line-height: 22px;
    color: $alt-blue;
    font-style: italic;

    @media screen and (min-width: 992px) {
      font-size: 26px;
      padding-top: 25px;
      line-height: 35px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 29px;
    }
  }

  &-title {
    color: $blue;
    font-family: $second-font;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 13px;
    text-transform: uppercase;
    font-style: normal;

    @media screen and (min-width: 768px) {
      color: $white;
    }

    @media screen and (min-width: 992px) {
      font-size: 29px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 37px;
    }    
  }

  .btn {
    margin-top: 14px;
    
    @media screen and (min-width: 992px) {
      margin-top: 52px;
    }
  }
}

ul.slick-dots {
  padding-top: 14px;
  text-align: center;
  width: 100%;

  li {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-right: 15px;

    button {
      border: 0;
      border-radius: 50%;
      display: inline-block;
      text-indent: -9999px;
      cursor: pointer;
      width: 12px;
      height: 12px;
      line-height: 12px;
      background-color: $dark-blue;
      padding: 0;
      margin: 0;
    }

    &.slick-active {

      button {
        background-color: $alt-blue;
        width: 14px;
        height: 14px;
      }

    }

  }

}

// Colors for h2 heading and links
.green {
  color: $alt-green;

  strong {
    display: block;
  }
}

.blue {
  color: $light-blue;
}

.darker-green {
  color: $darker-green;

  strong {
    display: block;
  }

  &.arrow-link {
    background-image: url("../../images/arrows/arrow-green.svg");

    &:hover {
      color: $darker-green;
    }
  }
}

.orange {
  color: $orange;

  &.arrow-link {
    background-image: url("../../images/arrows/arrow-orange.svg");

    &:hover {
      color: $orange;
    }
  }
}

.card {
  border: none;
  background-color: transparent;
  
  &-header {
    border-radius: 0;
    background-color: $alt-grey;
    border-bottom-color: #bebebe;
  }
}

