.about-section-2 {
	padding: 80px 0;
}

.bi-title {
	color: $alt-blue;
	font-size: 22px;
	font-weight: 700;
	line-height: 25px;
	margin-bottom: 20px;
	display: flex;

	svg {
		margin-right: 15px;
	}
}

.about-values {
	margin-bottom: 90px;

	@media screen and (max-width: 767px) {
		background-color: #003c54;
		margin-bottom: 0;
	}

	&-container {
		padding: 60px 0;

		@media screen and (min-width: 768px) {
			background-color: #003c54;
			border-radius: 0 250px 250px 0;
			padding: 130px 0;
			display: flex;
			align-items: center;
		}

		.col {

			@media screen and (min-width: 768px) {
				border-right: 1px solid $white;
				min-height: 155px;
			}

			&:last-of-type {
				border: none;
			}

			ul {
				color: $white;
				padding-top: 12px;

				li {
					line-height: 32px;
				}
			}
		}
	}

	h2 {
		color: $white;
		font-weight: 700;
		font-size: 40px;
		text-transform: uppercase;

		span {
			color: $alt-green;
			font-family: $third-font-solid;
			font-weight: 400;
			text-transform: none;
		}
	}
}


.about-section-2 {
	.bubble-text {
		background-image: url('../../images/backgrounds/orange-bubble.png');
		background-repeat: no-repeat;
		height: 520px;
		background-size: contain;
		font-size: 28px;
		color: #003c54;
		text-transform: uppercase;
		letter-spacing: 0.56px;
		font-family: $second-font;
		line-height: 42px;
		padding: 60px 16px 60px 80px;
		align-items: center;
		margin-top: 30px;

		@media screen and (min-width: 992px) {
			height: 412px;
			background-size: 100%;
			margin-top: 0;
		}

		strong {
			display: block;
			font-size: 46px;
			font-family: $third-font-sans;
			color: $white;
			font-weight: 400;
		}

		>div {
			height: 90px;
			margin-bottom: 30px;

			@media screen and (min-width: 992px) {
				height: 125px;
			}
		}
	}
}

.team {
	background-color: $alt-grey;
	padding: 50px 0 0;

	img {
		margin-bottom: 10px;
	}

	h3 {
		color: #1aa8b5;
		font-family: $third-font-solid;
		font-size: 40px;
		font-weight: 400;
		letter-spacing: 0.8px;
		margin-bottom: 25px;

		strong {
			color: $blue;
			font-family: $second-font;
			font-weight: 700;
			line-height: 46px;
			text-transform: uppercase;
			display: block;
		}
	}

	&-member {
		margin-bottom: 70px;
	}
}

.about-cta {
	padding: 95px 0 0;
	text-align: center;
	color: $blue;
	font-family: $third-font-solid;
	font-size: 75px;
	font-weight: 400;
	letter-spacing: 2px;
	line-height: 1;

	@media screen and (min-width: 768px) {
		font-size: 100px;
	}
	
	strong {
		color: $light-blue;
		font-family: $second-font;
		font-size: 80px;
		font-weight: 700;
		line-height: 90px;
		text-transform: uppercase;
		display: block;

		@include media('<tablet') {
			font-size: 51px;
			line-height: 51px;
		}

		@include media('>=tablet','<widescreen') {
			font-size: 69px;
			line-height: 79px;
		}

		@include media('>=widescreen','<1440px') {
			font-size: 78px;
			line-height: 88px;
		}
	}

	.btn {
		display: block;
		max-width: 240px;
		margin: 65px auto 0;

		@include media('<tablet') {
			margin-top: 35px;
		}
	}

	p {
		font-family: $default-font;
		font-size: 18px;
		margin: 0;
	}
}
