.blog {
  .about-cta {
    padding-top: 68px;
    
      @include media('<tablet') {
        padding-top: 0;
      }
  }

  .no-posts {
    color: $blue;
    font-family: $third-font-solid;
    font-size: 40px;
    letter-spacing: 0.8px;
  }
}

/**Old**/
.category-archive-view {

  .row:first-of-type {
    margin-bottom: 125px;

    @include media('<widescreen') {
      margin-bottom: 80px;
    }
  }

  .loader {
    background: url("../../images/loader.svg");
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .svg-loader{
    height: 20vmin;
    padding: 3vmin 20vmin;
    vertical-align: top;
  }

  .post-excerpt {
    margin-bottom: 40px;

    & + .post-excerpt {
      border-top: 1px solid $grey;      
      padding-top: 40px;
    }

    .blog-post {
      background: none;      

      .title-wrap {
        .page-title {
          margin-bottom: 25px;

          a {
            color: $black;

            &:hover {
              color: $alt-blue;
            }
          }
        }
      }

      .post-category {
        display: inline-block;

        &:last-of-type {
          margin-right: 0;

          .comma {
            display: none;
          }

        }

      }

      .post-wrap {

        .blog-excerpt {

          .image-holder {
            margin-bottom: 16px;
            margin-right: 50px;
            float: left;
            max-width: 474px;

            @include media('<widescreen') {
              margin: 0 auto 20px;
              float: none;
              text-align: center;
            }

            img {
              border-radius: 20px;
              max-height: 350px;
              width: auto;
            }

          }

          .excerpt-content {
            margin-bottom: 0px;

            a {
              display: none;
            }

          }

          .btn-read-more-wrap {
            clear: both;

            .btn-std {
              float: right;
            }

            @extend %clearfix;
          }

        }

      }

    }

  }

}