.grid {
	&-services {
		a {
			position: relative;
			display: block;
			text-align: center;

			span {
				position: absolute;
				top: 50%;
				color: #f3f3ef;
				font-family: $second-font;
				font-size: 40px;
				letter-spacing: 2px;
				text-transform: uppercase;
				display: block;
				transform: translateY(-50%);
				width: 100%;
			}
		}
	}
}

.case-study {
	background-color: #2cb2bd;

	.arrow-link {
		margin-top: 20px;
		color: $white;
	}
}

.figure-content {
	position: absolute;
	left: 80px;
	top: 50%;
	transform: translateY(-50%);
}

.figure-title {
	font-family: $second-font;
	font-size: 40px;
	letter-spacing: 0.8px;
	color: $white;
	margin-bottom: 30px;

	&:after {
		width: 62px;
		height: 5px;
		content: '';
		display: block;
		margin-top: 10px;
		background-color: #bcce56;
	}
}

.figure-case-title {
	color: $white;
	font-size: 40px;
	letter-spacing: 2px;
	line-height: 50px;
	text-transform: uppercase;
	font-family: $second-font;
}	

#principles {
	padding-bottom: 296px;
	padding-top: 123px;
	background-color: $alt-grey;

	.principles {
		&-top {	 

			p { 
				font-size: 28px;
				font-family: $default-font;
				line-height: 47px;
				color: $grey;
				letter-spacing: -0.29px;
			}
		}

		&-bottom {			
			padding-top: 83px;

			ol {
				li {
					position: relative;
					padding-left: 80px;
					color: $grey;

					& + li {
						margin-top: 79px;
					}

					&:before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						background-image: url("../../images/principles-bkg.png");
						background-position: 0 0;
						height: 78px;
						width: 54px;
					}

					&:nth-child(2):before {
						background-position: 0 161px;
					}

					&:nth-child(3):before {
						background-position: 0 79px;
					}

					span {
					  font-size: 25px;
					  line-height: 1;
					  text-align: left;
					  color: $blue;
					  display: block;
					  margin-bottom: 22px;
					}
				}
			}
		}

		&-right {
			position: relative;

			&:hover {
				.principles-right-top {
					bottom: 368px;
				}

				.principles-right-middle {
					bottom: 186px;
				}
			}

			div {
				width: 393px;
				height: 274px;
				position: absolute;
				right: 0;
				transition: 1s;
				background-image: url("../../images/principles-bkg-big.png");
			}

			&-top {
				background-position: 0 -560px;
				bottom:80px;
				z-index: 2;
			}

			&-middle {
				background-position: 0 -14px;
				bottom: 40px;
				z-index: 1;
			}

			&-bottom {
				background-position: 0 -285px;
				bottom: 0px;
				z-index: 0;
			}
		}
	}
}


.home {
	// Only for testimonials section on home
	.testimonials-section { 
		padding-bottom: 20px;
	}

	// Grey background only for home
	.footer-blue:after {
	    content:'';
	    background-color: $alt-grey;
	    position: absolute;
		top: 0;
	    left: 0;
	    width: 100%;
	    height: 118px;
	    z-index: 0;
	}
}