.grid {
	&-services {
		a {
			position: relative;
			display: block;
			text-align: center;

			span {
				position: absolute;
				top: 50%;
				color: #f3f3ef;
				font-family: $second-font;
				font-size: 40px;
				letter-spacing: 2px;
				text-transform: uppercase;
				display: block;
				transform: translateY(-50%);
				width: 100%;
			}
		}
	}
}

#principles {
	padding-bottom: 296px;
	background-color: $alt-grey;
}


.home {
	// Only for testimonials section on home
	.testimonials-section { 
		padding-bottom: 20px;
	}

	// Grey background only for home
	.footer-blue:after {
	    content:'';
	    background-color: $alt-grey;
	    position: absolute;
		top: 0;
	    left: 0;
	    width: 100%;
	    height: 118px;
	    z-index: 0;
	}
}