.did-you-know {
  h2 {
    strong {
      color: $white;
    }
  }

  p {
    color: $white;
  }
}

.service-split {
  padding: 100px 0;

  h2 {
    color: $blue;
    font-family: $default-font;
    font-size: 25px;
    font-weight: 700;
    line-height: 45px;
  }

  ul {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 35px;
    margin-bottom: 35px;
  }
}

.service-note {
  padding: 60px 0;
}