.ways-work {
	padding: 100px 0 80px;

	&-item {
		margin-top: 33px;
	}

	&-title {
		margin: 30px 0;
		font-weight: 700;
		font-size: 22px;
		line-height: 26px;
		color: #A9BC3F;
	}

	p {
		color: $grey;
	}

	.arrow-link {
		color: #A9BC3F;
		background-image: url("../../images/arrows/arrow-green.svg");
		text-decoration: underline;
	}
}

.bubble-container {
	background-image: linear-gradient($white 55%, $alt-grey 45%);
}

.services-case {
	background-color: $alt-grey;
	padding: 105px 0 130px;
}