.single-portfolio {
	.main-content {
		padding-top: 100px;

		h2 {
			margin-bottom: 24px;

			strong {
				margin-top: -14px;
			}
		}
	}

	.ways-work {
		padding-bottom: 167px;
	}
}

.portfolio-image {
	background: linear-gradient(to bottom, $alt-grey 50%, $white 50%);

	& + #portfolio-stats {
		margin-top: 80px;
	}
}

.portfolio-details {
	padding: 0 0 100px;

	& + .ways-work {
		padding-top: 0;
	}

	&__item {
		padding-top: 50px;

		@media screen and (min-width: 768px) {
			display: flex;
			align-items: center;
			padding-top: 100px;
		}

		div.text-center {
			min-width: 177px;
			margin-bottom: 30px;

			@media screen and (min-width: 768px) {
				margin-right: 60px;
				margin-bottom: 0;
			}

			.details-title {
				margin-top: 20px;
				font-family: $default-font;
				font-size: 25px;
				font-weight: 400;
				color: $alt-blue;
			}
		}
	}
}

#portfolio-stats {
	background-color: $blue;
	padding: 120px 0;

	.stats-item {
		font-family: $third-font-solid;
		font-size: 40px;
		font-weight: 400;
		line-height: 0.75;
		letter-spacing: 0.8px;
		color: $white;
		padding: 30px;

		@media screen and (min-width: 992px) {
			border-right: 1px solid #EBEBEB;
		}

		&:last-of-type {
			border-right: none;
		}

		&:nth-child(2) {
			img {
				vertical-align: bottom;
				margin-left: -10px;
			}
		}

		&__title {
			font-family: $second-font;
			font-size: 80px;
			font-weight: 700;
			color: #00a8b6;

			img {
				vertical-align: middle;
				margin-left: -20px;
			}
		}

		&__content {
			padding: 25px 44px 0
		}
	}
}

.work {
	&-row {
		align-items: center;

		&:nth-of-type(even) {
			flex-direction: row-reverse;
		}
	}

	&-item {
		background: #003c54;
		display: flex;
		align-items: center;
		img {
			margin-right: 70px;

			@media screen and (min-width: 992px) {
				margin-left: -15px;
			}
		}
	}

	&-details {
		color: #f3f3ef;
		font-family: $second-font;
		font-size: 40px;
		font-weight: 300;
		letter-spacing: 2px;
		line-height: 50px;
		text-transform: uppercase;

		&:before {
			display: block;
			margin-bottom: 15px;
			height: 2px;
			width: 62px;
			content: '';
			background: #bcce56;
		}

		>div {
			display: block;
		}
	}

	&-testimonial {
		margin: 30px 0;

		@media screen and (min-width: 992px) {
			padding-left: 70px;
			margin: 0;
		}

		p {
			padding-left: 110px;
			position: relative;
			background-image: url("../../images/big-quote.png");
			background-repeat: no-repeat;
			background-position: top left;
			font-style: italic;
		}

		cite {
			text-align: right;
			color: $alt-blue;
			font-size: 20px;
			display: block;
		}
	}
}