.single-post {

  .blog-post {

    .blog-title {

      h1.page-title {
        margin-bottom: 21px;
      }

    }

    .post-wrap {

      .post-meta {
        padding-top: 15px;
        margin-bottom: 15px;
        border-top: 1px solid #d8d9d9;
      }

    }

  }

}