form {
	label {
		font-size: 20px;
		text-transform: uppercase;
		width: 100%;
	}

	.form-input, textarea {
		height: 35px;
		border-bottom: 1px solid $black;
		width: 100%;

		.sidebar-holder & {
			background-color: #e1e0e0;
		}
	}
}

.contact-form-holder {
	.btn {
		margin: 0 auto;
		display: block;
	}
}