.share-wrap {
  margin-top: 52px;

  .social-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;

    @media screen and (max-width: 991px) {
      flex-flow: row;
      justify-content: center;
    }

    span {
      color: $black;
      display: block;
      text-transform: uppercase;
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 22px;
      font-family: $second-font;
    }

    a {
      color: $black;
      margin-bottom: 15px;
      width: 60px;
      height: 60px;
      border: 1px solid $black;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 991px) {
        margin: 0 10px 15px;
      }

      &:hover {
        background-color: $light-blue;
      }

      &.e-url {
        svg {
          transform: scale(0.9);
        }
      }

      &.f-url {
        svg {
          transform: scale(0.8);
        }
      }

      &.t-url {
        svg {
          transform: scale(0.8);
        }
      }

      &.p-url {
        svg {
          transform: scale(0.9);
          margin-right: 3px;
        }
      }

    }

  }

}