.testimonials-section {
	padding: 60px 0;

	&__item {
		background-image: url('../../images/icons/quote.jpg');
		background-position: top left;
		background-repeat: no-repeat;
		padding-left: 125px;
		color: $grey;
		font-family: $default-font;
		font-size: 28px;
		letter-spacing: -0.28px;
		line-height: 43px;
		font-style: italic;

		cite {
			display: block;
			margin-top: 19px;
			text-align: right;
			color: $alt-blue;
			font-family: $second-font;
			font-size: 20px;
			font-weight: 400;
			letter-spacing: 2px;
			line-height: 44px;
			text-transform: uppercase;
		}
	}
}